<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
</head>
<body style="text-align : center; background-color : #EFECEC">
    <h1 id=header>Welcome aboard! 🎉</h1>
    <img src="https://img1.picmix.com/output/stamp/normal/9/1/2/8/2018219_9588d.gif" alt="dogs running"/>
    <p>We are so happy to have you at Bellr! In order to continue, please confirm your account with this code: </p>
    <strong style="font-size: 40px;">{{ code }}</strong>
    <p style="margin-right : auto">If this was not you, please click here: <a href="https://www.youtube.com/watch?v=7qKlU2a9-Zg">Report</a></p>
</body>
</html>
