@keyframes openeyes{
    0% {height: 6.3px;}
    50% {height: 0px;}
    100% {height: 0px;}
}

@keyframes closeeyes{
    0% {height: 0px;}
    50%{height: 6.3px;}
    100%{height: 6.3px;}
}

@keyframes wink{
    0% {height: 0px;}
    50% {height: 6.3px;}
    100% {height: 0px}
}


.wink{
    animation: wink 0.5s 1 forwards;
}

.closeeyes{
    animation: closeeyes 2s 1 forwards;
}

body{
    font-family: 'Roboto'
}


.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
}

.sidebar-element:hover{
    background-color: #191C20;
}

.sidebar-element:hover div{
    padding-left: 10px;
    background: linear-gradient(90deg, #AB69E5, #0692F1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5%;
}

.bg-black{
    background-color: black;
}

.bg-obscure{
    background-color: #191C20;
}

.bg-charcoal{
    background-color: #202429;
}

.bg-charcoal-subtle{
    background-color: #282D33;
}

.border-obscure{
    border-bottom: 1px solid #191C20;
}


.text-charcoal{
    color: #1B1717;
}

.text-cream{
    color: #EEEBDD;
}

.login-background{
    background-image: url('https://img1.wsimg.com/isteam/ip/b7428c8e-392c-479a-9fd5-c42cdb6beec4/0cac36be-02b2-480d-8c11-67f4fb026a44.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.register-background{
    background-image: url('https://i.pinimg.com/originals/53/33/56/533356b7d77a0f47f9f5dbea82964198.png');
    background-size: cover;
    background-repeat: no-repeat;
}


.eyeleft{
    position: absolute;
    width: 6.3px;
    height: 6.3px;
    background: black;
    border-radius: 100%;
    top: 33px;
    left: 121.5px;
}


.eyeright{
    position: absolute;
    width: 6.3px;
    height: 6.3px;
    background: black;
    border-radius: 100%;
    top: 33px;
    left: 146px;
}


.loginbox:hover .eyeright, .loginbox:hover .eyeleft{
    animation: openeyes 2s 1 forwards;
}



.form-control:focus{
    outline: none !important;
    box-shadow: none !important;
}

.form-group:focus-within{
    border-radius: 5px;
    border-color: #66afe9;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(38,143,255,.25);
}

.gradient-text{
    background: linear-gradient(90deg, #0692F1, #AB69E5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-outline-gradient{
    border: 0.5px solid #0692F1;
    color: #0692F1;
    border-radius: 10px;
    background: transparent;
    transition: all 0.75s ease;
}


.btn-outline-gradient:hover, .btn.outline.gradient:focus {
    color: white;
    background: linear-gradient(90deg, #0692F1, #AB69E5);
}


.sign-link{
    background: linear-gradient(90deg, #0692F1, #AB69E5);
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.username-text:hover{
    background: linear-gradient(90deg, #0692F1, #AB69E5);
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}